In [3]:
import fasttext
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
df=pd.read_csv('movie.csv')
df.head()

                                                text  label
0  I grew up (b. 1965) watching and loving the Th...      0
1  When I put this movie in my DVD player, and sa...      0
2  Why do people who do not know what a particula...      0
3  Even though I have great interest in Biblical ...      0
4  Im a die hard Dads Army fan and nothing will e...      1

In [6]:
text=df['text']
labels=df['label']

X_train, X_test, y_train, y_test = train_test_split(text, labels, 
                                                   test_size=.2, 
                                                   random_state=20)

In [14]:
X_train.head()

36862    OK, here it is: "Nazi mountaineer befriends th...
11768    Romance is in the air and love is in bloom in ...
36393    This film is described as a action/comedy. The...
12031    I love the Satan Pit!!! David Tennant is such ...
27211    I could never stand watching Happy Days after ...
Name: text, dtype: object

In [13]:
y_train.describe()

count    32000.000000
mean         0.500375
std          0.500008
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max          1.000000
Name: label, dtype: float64

In [15]:

train=pd.concat([X_train,y_train],axis=1)
train.head()

                                                    text  label
36862  OK, here it is: "Nazi mountaineer befriends th...      0
11768  Romance is in the air and love is in bloom in ...      1
36393  This film is described as a action/comedy. The...      0
12031  I love the Satan Pit!!! David Tennant is such ...      1
27211  I could never stand watching Happy Days after ...      0

In [36]:
def format(x):
    string='__label__'+str(int(x['label']))+' '+x['text']
    return string
    
train['format']=train.apply(format, axis=1)    
train.head()

,text,label,format
36862,"OK, here it is: ""Nazi mountaineer befriends th...",0,"__label__0 OK, here it is: ""Nazi mountaineer b..."
11768,Romance is in the air and love is in bloom in ...,1,__label__1 Romance is in the air and love is i...
36393,This film is described as a action/comedy. The...,0,__label__0 This film is described as a action/...
12031,I love the Satan Pit!!! David Tennant is such ...,1,__label__1 I love the Satan Pit!!! David Tenna...
27211,I could never stand watching Happy Days after ...,0,__label__0 I could never stand watching Happy ...

In [43]:
train['format'].to_csv('data.train.txt',index=False)

In [38]:
test=pd.concat([X_test,y_test],axis=1)
test['format']=test.apply(format,axis=1)
test['format'].to_csv('test.txt',index=False)

In [40]:
len(model.words)

370741

In [44]:
model=fasttext.train_supervised(input='data.train.txt')

In [46]:
len(model.words)

338742

In [45]:
model.labels

['__label__1', '__label__0']

In [47]:
model.test('test.txt')

(235, 0.6, 0.6)